<div #wordContent id="word-content" class="main-container">
    <div class="header">
      <h1 class="heading">SECTION 08 33 00</h1>
      <h1 class="heading">ROLLING SERVICE DOORS</h1>
    </div>
    <div class="header-part">
    <h4 class="red-note">GENERAL NOTES TO SPECIFIER:</h4>
    <P>This specification section has been prepared to assist design professionals in the preparation of project or office master specifications. It follows guidelines established by the construction specifications institute, and therefore may be used with most master specification systems with minor editing.</P>
  <p>  Edit carefully to suit project requirements. Modify as necessary and delete items that are not applicable. Verify that referenced section numbers and titles are correct. (Numbers and titles referenced are based on MasterFormat®, 2018 edition).
  </p>  
  <p>  This section assumes the project manual will contain complete Division 01 documents including sections 01 33 00 Submittal Procedures, 01 62 00 Product Options, 01 25 13 Product Substitution Procedures, 01 66 00 Product Storage and Handling Requirements, 01 77 00 Closeout Procedures, and 01 78 00 Closeout Submittals. If the project manual does not contain these sections, additional information should be included under the appropriate articles.
  </p>  
  <p>  This is an open proprietary specification allowing users the option of approving other manufacturers which comply with the criteria specified herein.
  </p>  
  
    <!-- <p><span class="red-note">** NOTES TO SPECIFIER ** </span> <span> are highlighted in red text and should be deleted from final copy.</span></p>  -->
    
  <p>  Optional items requiring selection by specifier are enclosed within brackets, e.g.: [35]. In cases where one of the optional items is a standard feature of the door model, it is listed in the first position. Make appropriate selection and delete others.
  </p>  
  
  <p>  Items requiring additional information are underlined and highlighted
  </p>  
    </div>

    <p><strong>PART 1 </strong> GENERAL</p>

  <p><strong>1.1 SUMMARY</strong></p>
  <p><strong>A. </strong> <span class="section-title">Section Includes:</span> 
    Manual and electric operated overhead rolling doors.
  </p>

  <p><strong>B. </strong> <span class="section-title">Related Sections:</span></p>
  <div class="indented">
    <p>1. 05 50 00 Metal Fabrications. Door opening jamb and head members</p>
    <p>2. 06 10 00 Rough Carpentry. Door opening jamb and head members</p>
    <p>3. 08 31 00 Access Doors and Panels. Access doors</p>
    <p>4. 08 70 00 Hardware. Padlocks. Master keyed cylinder</p>
    <p>5. 09 91 00 Painting. Field painting</p>
    <p>6. Division 26. Electrical wiring and conduit, fuses, disconnect switches, connection of operator to power supply, and installation of control station and wiring</p>
  </div>

  <p><strong>C. </strong> <span class="section-title">Products That May Be Supplied, But Are Not Installed Under This Section:</span></p>
  <div class="indented">
    <p>1. Control Station</p>
  </div>

  <p><strong>1.2 SYSTEM DESCRIPTION</strong></p>
  <p><strong>A. </strong> <span class="section-title">Design Requirements:</span></p>
  <div class="indented">
    <p><strong>1. Wind Loading:</strong></p>
    <div class="indented">
      <p>a. Doors to withstand up to 30 PSF design wind load</p>
      <p>b. Supply doors to be operational up to 20 PSF maximum wind load</p>
    </div>

    <!-- <p class="red-note small-text">** NOTE TO SPECIFIER ** Please select from one of the following. If life cycle expectancy desired exceeds 100,000, select a door from the High Performance product line. Contact the Architectural Design Support Team at (800) 233-8366 Ext. 4551 for options.</p> -->

    <p><strong>2. Cycle Life:</strong></p>
    <div class="indented">
      <p>a. Standard construction for normal use of up to 20 cycles per day maximum, and a life cycle expectancy of up to 50,000</p>
      <p>b. Special construction for high-cycle use, and a life cycle expectancy of up to 100,000</p>
    </div>

    <!-- <p class="red-note small-text">**NOTE TO SPECIFIER** If your project does not involve a custom layout or custom product modifications, please delete 3 and 4. If you are unsure, please contact Architectural Design Support at 833-958-1273.</p> -->

    <p><strong>3. Custom Layout:</strong></p>
    <div class="indented">
      <p>a. Product has been reconfigured for a custom layout, refer to drawings by CornellCookson.</p>
    </div>
    <p><strong>4. Customized Product:</strong></p>
    <div class="indented">
      <p>a. This product has custom modifications designed by CornellCookson. Contact Manufacturer for details.</p>
    </div>
  </div>
  <p><strong>1.3 SUBMITTALS</strong></p>
  <p><strong>A. </strong> Reference Section 01 33 00 Submittal Procedures; submit the following items:</p>
  <div class="indented">
    <p>1. <span class="bold">Product Data</span></p>
    <p>2. <span class="bold">Shop Drawings</span></p>
    <p>3. <span class="bold">Quality Assurance/Control Submittals:</span></p>
    <div class="sub-indented">
      <p>a. Provide proof of manufacturer ISO 9001:2015 registration</p>
      <p>b. Provide proof of manufacturer and installer qualifications - see 1.4 below</p>
      <p>c. Provide manufacturer's installation instructions</p>
      <p>d. Provide manufacturer’s Health Product Declaration (HPD) for each product</p>
    </div>
    <p>4. <span class="bold">If it is not the specified product, supply certificate of compliance to specification</span></p>
    <p>5. <span class="bold">Closeout Submittals:</span></p>
    <div class="sub-indented">
      <p>a. Operation and Maintenance Manual</p>
      <p>b. Document stating that installed materials comply with this specification</p>
      <p>c. Warranty documentation</p>
    </div>
  </div>

  <p><strong>1.4 QUALITY ASSURANCE</strong></p>
  <p><strong>A. Qualifications:</strong></p>
  <div class="indented">
    <p>1. <span class="bold">Manufacturer Qualifications:</span> ISO 9001:2015 registered and a minimum of five years’ experience in producing doors of the type specified</p>
    <p>2. <span class="bold">Installer Qualifications:</span> Manufacturer's approval</p>
  </div>

  <p><strong>1.5 DELIVERY STORAGE AND HANDLING</strong></p>
  <div class="indented">
    <p><strong>A. </strong> Reference Section 01 66 00 Product Storage and Handling Requirements</p>
    <p><strong>B. </strong> Follow manufacturer's instructions</p>
  </div>

  <p><strong>1.6 WARRANTY</strong></p>
  <div class="indented">
    <p><strong>A. Standard Warranty:</strong> Two years from date of shipment against defects in material and workmanship.</p>
    <p><strong>B. Maintenance:</strong> Submit for owner’s consideration and acceptance of a maintenance service agreement for installed products.</p>
  </div>
  <p><strong>PART 2 </strong>PRODUCTS</p>

  <p><strong>2.1 MANUFACTURER</strong></p>
  <p class="indented"><strong>A. </strong> <span class="section-title">Manufacturer: </span></p>
    <p class="sub-indented"><strong>{{specData.Manufacturer.validOptionData[specData.Manufacturer.validOption]}}</strong>
  </p>

  <p><strong>2.2 PRODUCT INFORMATION</strong></p>
  <p class="indented"><strong>A. </strong> <span class="section-title">Model: ESD10</span> 
  </p>
  <p><strong>2.3 MATERIALS</strong></p>
  <p class="indented"><strong>A. </strong> <span class="section-title">Curtain: </span></p>
    <p class="sub-indented"><strong> 1. Slats</strong>
  </p>
  <p class="sub-sub-indented"><strong>a. </strong> <span class="section-title">{{specData.CurtainSlats.validOptionData[specData.CurtainSlats.validOption]['title']}}: </span>
    <span>{{specData.CurtainSlats.validOptionData[specData.CurtainSlats.validOption]['description']}}</span>
        
        <p class="sub-indented"><strong>2. Finish</strong> 
      </p>
      <div *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('GALVANIZED')">
        <p class="sub-sub-indented"><strong>a. </strong> <span><strong>GalvaNex™</strong> Coating System (Stock Color): </span></p>
        <p class="sub-sub-sub-indented">1)<strong>  {{specData.CurtainFinish.validOptionData[specData.CurtainFinish.validOption]['title']}} - </strong> <span>{{specData.CurtainFinish.validOptionData[specData.CurtainFinish.validOption]['description']}}</span></p>
      </div>
      <div *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('POWDER')">
        <p class="sub-sub-indented"><strong>a. </strong> <span><strong>Powder Coat:</strong> </span></p>
        <p class="sub-sub-sub-indented">1) Zirconium pre-treatment followed by baked-on polyester powder coat.  minimum 2.5 mils (0.065 mm) cured film thickness; ASTM D-3363 pencil hardness: H or better.</p>
        <p *ngIf="!configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('SPECTRA') && !configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('ATMOSHIELD')" class="sub-sub-sub-sub-indented">a) <span>{{specData.BottombarPowderCoat.validOptionData[specData.BottombarPowderCoat.validOption]}}</span></p>
        <p *ngIf="configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('SPECTRA')"  class="sub-sub-sub-sub-indented">a) <strong>  {{specData.CurtainPowderCoatSpectra.validOptionData[specData.CurtainPowderCoatSpectra.validOption]['title']}} - </strong> <span>{{specData.CurtainPowderCoatSpectra.validOptionData[specData.CurtainPowderCoatSpectra.validOption]['description']}}</span></p>
        <p *ngIf="configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('ATMOSHIELD')" class="sub-sub-sub-sub-indented">a) <strong>  AtmoShield  - </strong> <span>textured environmental coating; color as selected by Architect, {{specData.CurtainPowderCoatAtomshield.validOptionData[specData.CurtainPowderCoatAtomshield.validOption]}}</span></p>
        <p class="sub-sub-sub-sub-indented">b) <strong>  Custom color </strong> <span>as selected by Architect</span></p>
       
      </div>    
       <div>
        
       </div>
        <!-- <p *ngIf="specData.CurtainStainlessSteel.validOption && configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('STAINLESS')" class="sub-sub-indented"><strong>a. </strong> <span><strong>Stainless Steel: </strong>{{specData.CurtainStainlessSteel.validOptionData[specData.CurtainStainlessSteel.validOption]}} </span></p> -->
    <p *ngIf="!configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('GALVANIZED') && !configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('ALUMINIUM') && !configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('POWDER')"  class="sub-sub-indented"><strong>a. </strong> <span><strong>{{specData.BBOtherItems.validOptionData[specData.BBOtherItems.validOption]['title']}}: </strong> {{specData.BBOtherItems.validOptionData[specData.BBOtherItems.validOption]['description']}}</span></p>
    <p *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('ALUMINIUM')" class="sub-sub-indented"><strong>a. </strong> <span><strong>Aluminum: </strong>{{specData.CurtainAluminium.validOptionData[specData.CurtainAluminium.validOption]}} </span></p>
   <div *ngIf="specData.EndLocks.validOption">
    <!-- <p class="red-note small-text">**NOTE TO SPECIFIER** Nylon endlocks are recommended whenever possible to minimize operating noise.</p> -->
    <p class="indented"><strong>B. </strong> <span class="section-title">Endlocks: </span></p>
    <p class="indented">Alternate slats each secured with two ¼” (6.35 mm) rivets. Fabricate interlocking sections with high strength {{specData.EndLocks.validOptionData[specData.EndLocks.validOption]}} Provide endlocks/windlocks as required to meet specified wind load.</p>
</div>
<div>
    <!-- <p class="red-note small-text">**NOTE TO SPECIFIER** If galvanized steel curtain is selected, bottom bar options are limited to extruded aluminum or structural steel angles. If stainless steel curtain is selected bottom bar options are limited to extruded aluminum or stainless steel angles. If aluminum curtain is selected bottom bar options are limited to extruded aluminum or aluminum angles.</p> -->
    <p class="indented"><strong>C. </strong> <span class="section-title">Bottom Bar : </span></p>
   
    <p class="sub-indented"><strong>1. Configuration</strong></p>
    <p class="sub-sub-indented">a) <strong>  {{specData.BottombarConfiguration.validOptionData[specData.BottombarConfiguration.validOption]['title']}} </strong> <span>{{specData.BottombarConfiguration.validOptionData[specData.BottombarConfiguration.validOption]['description']}}</span></p>
    
    <p class="sub-indented"><strong>2. Finish</strong></p>
    <div *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('GALVANIZED')">
        <p class="sub-sub-indented"><strong>a. </strong> <span><strong>GalvaNex™</strong> Coating System (Stock Color): </span></p>
        <p class="sub-sub-sub-indented">1)<strong>  {{specData.CurtainFinish.validOptionData[specData.CurtainFinish.validOption]['title']}} - </strong> <span>{{specData.CurtainFinish.validOptionData[specData.CurtainFinish.validOption]['description']}}</span></p>
      </div>
    <p *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('ALUMINIUM')" class="sub-sub-indented">a. <strong>  {{specData.BottombarFinish.validOptionData[specData.BottombarFinish.validOption]['title']}} - </strong> <span>{{specData.BottombarFinish.validOptionData[specData.BottombarFinish.validOption]['description']}}</span></p>
    <div *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('POWDER')">
        <p class="sub-sub-indented"><strong>a. </strong> <span><strong>Powder Coat:</strong> </span></p>
            <p class="sub-sub-sub-indented">1) Zirconium pre-treatment followed by baked-on polyester powder coat.  minimum 2.5 mils (0.065 mm) cured film thickness; ASTM D-3363 pencil hardness: H or better.</p>
            <p *ngIf="!configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('SPECTRA') && !configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('ATMOSHIELD')" class="sub-sub-sub-sub-indented">a) <span>{{specData.BottombarPowderCoat.validOptionData[specData.BottombarPowderCoat.validOption]}}</span></p>
            <p *ngIf="configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('SPECTRA')"  class="sub-sub-sub-sub-indented">a) <strong>  {{specData.CurtainPowderCoatSpectra.validOptionData[specData.CurtainPowderCoatSpectra.validOption]['title']}} - </strong> <span>{{specData.CurtainPowderCoatSpectra.validOptionData[specData.CurtainPowderCoatSpectra.validOption]['description']}}</span></p>
            <p *ngIf="configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('ATMOSHIELD')" class="sub-sub-sub-sub-indented">a) <span>AtomShield textured environmental coating; color as selected by Architect, {{specData.BBPowderCoatAtomshield.validOptionData[specData.BBPowderCoatAtomshield.validOption]}}</span></p>
            <p class="sub-sub-sub-sub-indented">b) <span>Custom color as selected by Architect</span></p>
           
    </div>

    <p *ngIf="!configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('GALVANIZED') && !configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('ALUMINIUM') && !configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('POWDER')" class="sub-sub-indented"><strong>a. </strong> <span><strong>{{specData.BBOtherItems.validOptionData[specData.BBOtherItems.validOption]['title']}}:</strong> {{specData.BBOtherItems.validOptionData[specData.BBOtherItems.validOption]['description']}}</span></p>
</div>
    <div>
        <p class="indented"><strong>D. </strong> <span class="section-title">Guides: </span></p>
        <p class="sub-indented"><strong>1. Fabrication</strong></p>
        <!-- <p class="sub-sub-indented">a. <span>{{specData.Guides.validOptionData[specData.Guides.validOption]}} angles. Provide windlock bars as required, removable bellmouths, and bottom bar stoppers of same material.</span></p> -->
        <p class="sub-sub-indented">a. <span>{{configSelectedValues?.material?.Name}} angles. Provide windlock bars as required, removable bellmouths, and bottom bar stoppers of same material.</span></p>
        
         
        <p class="sub-indented"><strong>2. Finish</strong></p>
        <div *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('GALVANIZED')">
            <p class="sub-sub-indented"><strong>a. </strong> <span><strong>GalvaNex™</strong> Coating System (Stock Color): </span></p>
            <p class="sub-sub-sub-indented">1)<strong>  {{specData.CurtainFinish.validOptionData[specData.CurtainFinish.validOption]['title']}} - </strong> <span>{{specData.CurtainFinish.validOptionData[specData.CurtainFinish.validOption]['description']}}</span></p>
          </div>
    <div *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('POWDER')">
        <p class="sub-sub-indented"><strong>a. </strong> <span><strong>Powder Coat:</strong> </span></p>
            <p class="sub-sub-sub-indented">1) Zirconium pre-treatment followed by baked-on polyester powder coat.  minimum 2.5 mils (0.065 mm) cured film thickness; ASTM D-3363 pencil hardness: H or better.</p>
            <p *ngIf="!configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('SPECTRA') && !configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('ATMOSHIELD')" class="sub-sub-sub-sub-indented">a) <span>{{specData.GuidesPowderCoat.validOptionData[specData.GuidesPowderCoat.validOption]}}</span></p>
            <!-- <p class="sub-sub-sub-sub-indented">b) <span>SpectraShield color as selected by Architect from manufacturer's color range, more than 180 colors </span></p> -->
            <p *ngIf="configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('SPECTRA')"  class="sub-sub-sub-sub-indented">a) <strong>  {{specData.CurtainPowderCoatSpectra.validOptionData[specData.CurtainPowderCoatSpectra.validOption]['title']}} - </strong> <span>{{specData.CurtainPowderCoatSpectra.validOptionData[specData.CurtainPowderCoatSpectra.validOption]['description']}}</span></p>
            <p *ngIf="configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('ATMOSHIELD')" class="sub-sub-sub-sub-indented">a) <span>AtomShield textured environmental coating; color as selected by Architect, {{specData.GuidesPowderCoatAtomshield.validOptionData[specData.GuidesPowderCoatAtomshield.validOption]}}</span></p>
            <p class="sub-sub-sub-sub-indented">b) <span>Custom color as selected by Architect</span></p>
    </div>
            <p *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('ALUMINIUM')" class="sub-sub-indented"><strong>a. </strong> <span><strong>Aluminum:</strong>{{specData.GuidesAluminium.validOptionData[specData.GuidesAluminium.validOption]}} </span></p>
     
            <p *ngIf="!configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('GALVANIZED') && !configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('ALUMINIUM') && !configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('POWDER')" class="sub-sub-indented"><strong>a. </strong> <span><strong>{{specData.GuidesOtherItems.validOptionData[specData.GuidesOtherItems.validOption]['title']}}:</strong> {{specData.GuidesOtherItems.validOptionData[specData.GuidesOtherItems.validOption]['description']}}</span></p>
           
    </div>
    <div>
        <p class="indented"><strong>E. </strong> <span class="section-title">Counterbalance Shaft Assembly: </span></p>
        <p class="sub-sub-indented"><strong>1. </strong> <span><strong>Barrel: </strong> Steel pipe capable of supporting curtain load with maximum deflection of 0.03 inches per foot (2.5 mm per meter) of width</span></p>
        <p class="sub-sub-indented"><strong>2. </strong> <span><strong>Spring Balance: </strong> Oil-tempered, heat-treated steel helical torsion spring assembly designed for proper balance of door to ensure that maximum effort to operate will not exceed 25 lbs. (110 N). Provide wheel for applying and adjusting spring torque</span></p>
    </div>
    <div>
        <p class="indented"><strong>F. </strong> <span class="section-title">Brackets: </span></p>
        <p class="sub-indented"><span>Fabricate from minimum 3/16 inch (5 mm) steel plate with permanently lubricated ball or roller bearings at rotating support points to support counterbalance shaft assembly and form end closures </span></p>
        <p class="sub-indented"><strong>1. Finish</strong></p>
        <div *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('GALVANIZED')">
            <p class="sub-sub-indented"><strong>a. </strong> <span><strong>GalvaNex™</strong> Coating System (Stock Color): </span></p>
            <p class="sub-sub-sub-indented">1)<strong>  {{specData.CurtainFinish.validOptionData[specData.CurtainFinish.validOption]['title']}} - </strong> <span>{{specData.CurtainFinish.validOptionData[specData.CurtainFinish.validOption]['description']}}</span></p>
          </div>
    <div *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('POWDER')">
        <p class="sub-sub-indented"><strong>a. </strong> <span><strong>Powder Coat:</strong> </span></p>
            <p class="sub-sub-sub-indented">1) Zirconium pre-treatment followed by baked-on polyester powder coat.  minimum 2.5 mils (0.065 mm) cured film thickness; ASTM D-3363 pencil hardness: H or better.</p>
            <p *ngIf="!configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('SPECTRA') && !configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('ATMOSHIELD')" class="sub-sub-sub-sub-indented">a) <span>{{specData.BracketsPowderCoat.validOptionData[specData.BracketsPowderCoat.validOption]}}</span></p>
            <!-- <p class="sub-sub-sub-sub-indented">b) <span>SpectraShield color as selected by Architect from manufacturer's color range, more than 180 colors </span></p> -->
            <p *ngIf="configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('SPECTRA')"  class="sub-sub-sub-sub-indented">a) <strong>  {{specData.CurtainPowderCoatSpectra.validOptionData[specData.CurtainPowderCoatSpectra.validOption]['title']}} - </strong> <span>{{specData.CurtainPowderCoatSpectra.validOptionData[specData.CurtainPowderCoatSpectra.validOption]['description']}}</span></p>
           
            <p *ngIf="configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('ATMOSHIELD')"  class="sub-sub-sub-sub-indented">a) <span>AtomShield textured environmental coating; color as selected by Architect, {{specData.BracketsPowderCoatAtomshield.validOptionData[specData.BracketsPowderCoatAtomshield.validOption]}}</span></p>
            <p  class="sub-sub-sub-sub-indented">b) <span>Custom color as selected by Architect</span></p>
          
    </div>
    <p *ngIf="!configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('GALVANIZED') && !configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('ALUMINIUM') && !configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('POWDER')" class="sub-sub-indented"><strong>a. </strong> <span><strong>{{specData.BBOtherItems.validOptionData[specData.BBOtherItems.validOption]['title']}}:</strong> {{specData.BBOtherItems.validOptionData[specData.BBOtherItems.validOption]['description']}}</span></p>
    <p *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('ALUMINIUM')" class="sub-sub-indented"><strong>a. </strong> <span><strong>Aluminum:</strong>{{specData.GuidesAluminium.validOptionData[specData.GuidesAluminium.validOption]}} </span></p>

            <!-- <p *ngIf="specData.GuidesAluminium.validOption" class="sub-sub-indented"><strong>b. </strong> <span><strong>Corrosion Inhibitive: </strong>Zirconium treatment followed by a corrosion inhibitive baked-on zinc enriched gray polyester powder coat; minimum 2.5 mils (0.065 mm) cured film thickness </span></p>
     
            <p *ngIf="specData.GuidesOtherItems.validOption" class="sub-sub-indented"><strong>c. </strong> <span><strong>Hot-dip Galvanized: </strong>ASTM A 123, Grade 85 zinc coating, hot-dip galvanized after fabrication</span></p>
           -->
    </div>
<div>
    <p class="indented"><strong>G. </strong> <span class="section-title">Hood: </span></p>
    <p class="sub-indented"><span>{{configSelectedValues?.material?.Name}} with reinforced top and bottom edges. Provide intermediate support brackets as required. </span></p>
    <p class="sub-indented"><strong>1. Finish</strong>
    </p>
    <div *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('GALVANIZED')">
        <p class="sub-sub-indented"><strong>a. </strong> <span><strong>GalvaNex™</strong> Coating System (Stock Color): </span></p>
        <p class="sub-sub-sub-indented">1)<strong>  {{specData.CurtainFinish.validOptionData[specData.CurtainFinish.validOption]['title']}} - </strong> <span>{{specData.CurtainFinish.validOptionData[specData.CurtainFinish.validOption]['description']}}</span></p>
      </div>
      <div *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('POWDER')">
        <p class="sub-sub-indented"><strong>a. </strong> <span><strong>Powder Coat:</strong> </span></p>
        <p class="sub-sub-sub-indented">1) Zirconium pre-treatment followed by baked-on polyester powder coat.  minimum 2.5 mils (0.065 mm) cured film thickness; ASTM D-3363 pencil hardness: H or better.</p>
        <p *ngIf="!configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('SPECTRA') && !configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('ATMOSHIELD')" class="sub-sub-sub-sub-indented">a) <span>{{specData.BottombarPowderCoat.validOptionData[specData.BottombarPowderCoat.validOption]}}</span></p>
        <p *ngIf="configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('SPECTRA')"  class="sub-sub-sub-sub-indented">a) <strong>  {{specData.CurtainPowderCoatSpectra.validOptionData[specData.CurtainPowderCoatSpectra.validOption]['title']}} - </strong> <span>{{specData.CurtainPowderCoatSpectra.validOptionData[specData.CurtainPowderCoatSpectra.validOption]['description']}}</span></p>
        <p *ngIf="configSelectedValues?.powderCoatColor?.Name?.toUpperCase()?.includes('ATMOSHIELD')" class="sub-sub-sub-sub-indented">a) <strong>  AtmoShield  - </strong> <span>textured environmental coating; color as selected by Architect, {{specData.CurtainPowderCoatAtomshield.validOptionData[specData.CurtainPowderCoatAtomshield.validOption]}}</span></p>
        <p class="sub-sub-sub-sub-indented">b) <strong>  Custom color </strong> <span>as selected by Architect</span></p>
       
      </div> 

      <p *ngIf="!configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('GALVANIZED') && !configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('ALUMINIUM') && !configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('POWDER')"  class="sub-sub-indented"><strong>a. </strong> <span><strong>{{specData.BBOtherItems.validOptionData[specData.BBOtherItems.validOption]['title']}}: </strong> {{specData.BBOtherItems.validOptionData[specData.BBOtherItems.validOption]['description']}}</span></p>
      <p *ngIf="configSelectedValues?.finishType?.Name?.toUpperCase()?.includes('ALUMINIUM')" class="sub-sub-indented"><strong>a. </strong> <span><strong>Aluminum: </strong>{{specData.CurtainAluminium.validOptionData[specData.CurtainAluminium.validOption]}} </span></p>
<!--      
    <p *ngIf="specData.CurtainStainlessSteel.validOption" class="sub-sub-indented"><strong>a. </strong> <span><strong>Stainless Steel: </strong>{{specData.CurtainStainlessSteel.validOptionData[specData.CurtainStainlessSteel.validOption]}} </span></p>
        <p *ngIf="specData.CurtainAluminium.validOption" class="sub-sub-indented"><strong>a. </strong> <span><strong>Aluminum: </strong>{{specData.CurtainAluminium.validOptionData[specData.CurtainAluminium.validOption]}} </span></p> -->
   
</div>

<!-- static data -->
<div>
    <p class="indented"><strong>H. </strong> <span class="section-title">Weatherstripping: </span></p>
    <p class="sub-sub-indented"><strong>1. </strong> <span><strong>Bottom Bar: </strong>Replaceable, bulb-style, compressible EDPM gasket extending into guides </span></p>
    <p class="sub-sub-indented"><strong>2. </strong> <span><strong>Guides: </strong>Vinyl strip sealing against fascia side of curtain</span></p>
    <p class="sub-sub-indented"><strong>3. </strong> <span><strong>Hood: </strong>Neoprene/rayon baffle to impede air flow above coil</span></p>
    <p class="sub-sub-indented"><strong>4. </strong> <span><strong>Lintel Seal: </strong>Nylon brush seal fitted at door header to impede air flow</span></p>

</div>
<div>
    <p class="indented"><strong>I. Rapid Response:</strong></p>
    <p class="sub-sub-indented"><strong>1. </strong> <span><strong>Curtain Configuration: </strong>a) 3 feet of extra curtain material </span></p>
    <p class="sub-sub-indented"><strong>2. </strong> <span><strong>Guide Configuration: </strong>56” removable lower guide section for quick access to curtain for Repairs</span></p>
    <p class="sub-sub-indented"><strong>3. </strong> <span><strong>Impactable Bottom Bar: </strong>2 structural steel angles with flexible connecting members</span></p>

</div>
<!-- static data -->

<div>
    <p><strong>2.4 OPERATIONS</strong></p>
    <p *ngIf="!configSelectedValues?.operation?.Name?.toUpperCase()?.includes('MOTOR')" class="sub-sub-indented">A. <strong>  {{specData.Operations.validOptionData[specData.Operations.validOption]['title']}} - </strong> <span>{{specData.Operations.validOptionData[specData.Operations.validOption]['description']}}</span></p>
    <div *ngIf="configSelectedValues?.operation?.Name?.toUpperCase()?.includes('MOTOR')">
        <div  class="sub-sub-indented" *ngIf="specData.OperationMotor.validOption == 'MTRTYPMGH'">
            <p>A. <strong>	Motor - Standard Use - Model MG (Industrial Duty Gear Head) Operator: </strong> </p>
           <p>
            1.	The operator must not extend above or below the door coil when mounted front-of-coil. <br/>
            2.	Rated for a maximum of 20 cycles per hour (not to be used for consecutive hours) cULus listed (to comply with UL requirements in The United States and Canada) <br/>
            3.	Totally Enclosed Non Ventilated gear head operator(s) rated 1/2 hp as recommended by door manufacturer for size and type of door, 120 Volts, Phase. <br/>
            4.	Provide complete with electric motor and factory pre-wired motor control terminals, maintenance-free solenoid actuated brake, and control station(s). <br/>
            5.	Motor shall be high starting torque, industrial type, protected against overload with an auto-reset thermal sensing device. <br/>
            6.	Primary speed reduction shall be heavy-duty, lubricated gears with mechanical braking to hold the door in any position. <br/>
            7.	Operator shall be equipped with an emergency manual chain hoist assembly that safely cuts operator power when engaged. A disconnect chain shall not be required to engage or release the manual chain hoist. <br/>
            8.	Operator drive and door-driven sprockets shall be sized for #50 roller chain. <br/>
            9.	Operator shall be capable of driving the door at a speed of up to 9” per second or as recommended for door size. <br/>
            10.	Fully adjustable, driven linear screw-type cam limit switch mechanism shall synchronize the operator with the door. <br/>
            11.	The electrical contractor shall mount the control station(s) and supply the appropriate disconnect switch, all conduit and wiring per the motor operator wiring instructions.
           </p>
            
        </div>
        <div class="sub-sub-indented" *ngIf="specData.OperationMotor.validOption == 'MTRTYPMGHC'">
            <p>A. <strong>	E.	Motor - Standard Use - Model MGHC (Industrial Duty Gear Head NEMA 3R) Operator:  </strong> </p>
           <p>
            1.  UL Listed NEMA 3R rated <br/>
            2.	The operator must not extend above or below the door coil when mounted front-of-coil. <br/>
            3.	Rated for a maximum of 20 cycles per hour (not to be used for consecutive hours) cULus listed (to comply with UL requirements in The United States and Canada) <br/>
            4.	Totally Enclosed Non Ventilated gear head operator(s) rated 1/2 hp as recommended by door manufacturer for size and type of door, 120 Volts, Phase. <br/>
            5.	Provide complete with electric motor and factory pre-wired motor control terminals, maintenance-free solenoid actuated brake, and control station(s). <br/>
            6.	Motor shall be high starting torque, industrial type, protected against overload with an auto-reset thermal sensing device. <br/>
            7.	Primary speed reduction shall be heavy-duty, lubricated gears with mechanical braking to hold the door in any position. <br/>
            8.	Operator shall be equipped with an emergency manual chain hoist assembly that safely cuts operator power when engaged. A disconnect chain shall not be required to engage or release the manual chain hoist. <br/>
            9.	Operator drive and door-driven sprockets shall be sized for #50 roller chain. <br/>
            10.	Operator shall be capable of driving the door at a speed of up to 9” per second or as recommended for door size. <br/>
            11.	Fully adjustable, driven linear screw-type cam limit switch mechanism shall synchronize the operator with the door. <br/>
            12.	The electrical contractor shall mount the control station(s) and supply the appropriate disconnect switch, all conduit and wiring per the motor operator wiring instructions.
           </p>
            
        </div>
        <div class="sub-sub-indented" *ngIf="specData.OperationMotor.validOption == 'MTRTYPSG'">
            <p>A. <strong>	Motor - Continuous Use - Model SG (Super Duty Gear Head) Operator:  </strong> </p>
           <p>
            1.	The operator must not extend above or below the door coil when mounted front-of-coil. <br/>
            2.	Rated for a maximum of 20 cycles per hour (not to be used for consecutive hours) cULus listed (to comply with UL requirements in The United States and Canada) <br/>
            3.	Totally Enclosed Non Ventilated gear head operator(s) rated 1/2 hp as recommended by door manufacturer for size and type of door, 120 Volts, Phase. <br/>
            4.	Provide complete with electric motor and factory pre-wired motor control terminals, maintenance-free solenoid actuated brake, and control station(s). <br/>
            5.	Motor shall be high starting torque, industrial type, protected against overload with an auto-reset thermal sensing device. <br/>
            6.	Primary speed reduction shall be heavy-duty, lubricated gears with mechanical braking to hold the door in any position. <br/>
            7.	When equipped, the emergency manual chain hoist assembly is automatically disengaged when motor is energized. <br/>
            8.	A disconnect chain shall not be required to engage or release the manual chain hoist. <br/>
            9.	Operator drive and door driven sprockets shall be provided with minimum #50 roller chain. <br/>
            10.	Operator shall be capable of driving the door at a speed of up to 9” per second or as recommended for door size. <br/>
            11.	Fully adjustable, driven linear screw type cam limit switch mechanism shall synchronize the operator with the door. <br/>
            12.	The motor shall be removable without affecting the limit switch settings. <br/>
            13.	The electrical contractor shall mount the control station(s) and supply the appropriate disconnect switch, all conduit and wiring per the overhead door wiring instructions. <br/>
             </p>
            
        </div>
        <div class="sub-sub-indented" *ngIf="specData.OperationMotor.validOption == 'MTRTYPSGHX'">
            <p>A. <strong>	Motor - Continuous Use - Model SGHNX (Super Duty Gear Head NEMA 4X) Operator:  </strong> </p>
            <p>
                1.  UL Listed NEMA 3R rated <br/>
                2.	The operator must not extend above or below the door coil when mounted front-of-coil. <br/>
                3.	Totally Enclosed Non-Ventilated gear head operator(s) rated (1/2) to (2) hp as recommended by door manufacture for size and type of door, 120 Volts, Phase. <br/>
                4.	Provide complete with electric motor and factory pre-wired motor control terminals, maintenance free solenoid actuated brake, emergency manual chain hoist provided up to 2 hp and control station(s). <br/>
                5.	Motor shall be high starting torque, industrial type, with overload protection. <br/>
                6.	Primary speed reduction shall be heavy-duty gears running in grease or oil bath with mechanical braking to hold the door in any position. <br/>
                7.	When equipped, the emergency manual chain hoist assembly is automatically disengaged when motor is energized. A disconnect chain shall not be required to engage or release the manual chain hoist. <br/>
                8.	Operator drive and door driven sprockets shall be provided with minimum #50 roller chain. <br/> 
                9.	Operator shall be capable of driving the door at a speed of up to 9” per second or as recommended for door size. <br/>
                10.	Fully adjustable, driven linear screw type cam limit switch mechanism shall synchronize the operator with the door. The motor shall be removable without affecting the limit switch settings. 
                11.	The electrical contractor shall mount the control station(s) and supply the appropriate disconnect switch, all conduit and wiring per the overhead door wiring instructions. <br/>
                12.	Stainless Steel Corrosion Resistant finish to withstand low pressure direct spray.
    </p>
            
        </div>
    </div>
    
</div>

<div>
    <p><strong>2.5 ACCESSORIES</strong></p>

    <p class="sub-sub-indented">A. <strong>Locking  </strong></p>
    <p class="sub-sub-indented">1. <strong>  {{specData.AccessoriesLocking.validOptionData[specData.AccessoriesLocking.validOption]['title']}} </strong> <span>{{specData.AccessoriesLocking.validOptionData[specData.AccessoriesLocking.validOption]['description']}}</span></p>
    <p class="sub-sub-indented">2. <strong> Padlockable chain keeper </strong> <span>on guide. (Manual Chain operated.)</span></p>
    <p class="sub-sub-indented">3. <strong> Master keyable cylinder operable </strong><span>from {{specData.AccessoriesLocking.validOption == "LCKSDSLCOL" ? 'coil side' : 'fascia side'}} of opening, options for all types of operation. Provide interlock switches or motor mounted interlock switches.</span></p>
    <p class="sub-sub-sub-indented">a. <span>Standard Mortise Cylinder</span></p>
    <p class="sub-sub-sub-indented">b. <span>BEST 7-Pin</span></p>
    <p class="sub-sub-sub-indented">c. <span>U-Change</span></p>
    <p class="sub-sub-sub-indented">d. <span>Schlage</span></p>

</div>
<div>
 <p><strong>PART 3 </strong>EXECUTION</p>

  <div class="section">
 <p><strong>3.1 </strong>EXAMINATION</p>

    <div class="subsection">
      <p class="sub-sub-indented">A. Examine substrates upon which work will be installed and verify conditions are in accordance with approved shop drawings</p>
      <p class="sub-sub-indented">B. Coordinate with responsible entity to perform corrective work on unsatisfactory substrates</p>
      <p class="sub-sub-indented">C. Commencement of work by installer is acceptance of substrate</p>
    </div>
  </div>

  <div class="section">
 <p><strong>3.1 </strong>INSTALLATION</p>
    <div class="subsection">
      <p class="sub-sub-indented">A. Install door and operating equipment with necessary hardware, anchors, inserts, hangers and supports</p>
      <p class="sub-sub-indented">B. Follow manufacturer's installation instructions</p>
    </div>
  </div>

  <div class="section">
 <p><strong>3.1 </strong>ADJUSTING</p>
    <div class="subsection">
      <p class="sub-sub-indented">A. Following completion of installation, including related work by others, lubricate, test, and adjust doors for ease of operation, free from warp, twist, or distortion</p>
    </div>
  </div>

  <div class="section">
 <p><strong>3.1 </strong>CLEANING</p>

    <div class="subsection">
      <p class="sub-sub-indented">A. Clean surfaces soiled by work as recommended by manufacturer</p>
      <p class="sub-sub-indented">B. Remove surplus materials and debris from the site</p>
    </div>
  </div>

  <div class="section">
 <p><strong>3.1 </strong>DEMONSTRATION</p>

    <div class="subsection">
      <p class="sub-sub-indented">A. Demonstrate proper operation to Owner's Representative</p>
      <p class="sub-sub-indented">B. Instruct Owner's Representative in maintenance procedures</p>
    </div>
  </div>

  <p class="heading">END OF SECTION</p>
</div>
   </div>     
 
   <div class="border-row">
    <clo-button type="secondary" label="CLOSE" class="me-3 previeBttn" (click)="close()"
    ></clo-button>
    <clo-button class="me-3 rollingBtn" label="Generate Proposal" type="primary"
    (click)="validateAndGenerateDoc()"></clo-button>
</div>


<ng-template #validateItem let-modal>
  <div class="modal-body proposalModel d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1>Generating Proposal Document, please wait! </h1>
        <p>This screen will close automatically!</p>
      <div class="text-center mt-3 mb-3">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    </div>
  </ng-template>